.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, .results-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.topFiveResults .topCostars, .topFiveResults .topProfit, .topFiveResults .topGenre, .topFiveResults .topProd, .headers .header {
  flex: 1 0 25%;
}